<div class="row">
    <h1>Hard & Soft Skills</h1>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
       <circle-progress 
    [percent]="85" 
    [radius]="100"
    [imageSrc]="'../../../assets/html.png'"
    [showImage]="true"
    [showUnits]="false" 
    [imageHeight]="80"
    [imageWidth]="80"
    [title]="'HTML'"
    [titleColor]="'pink'"
    [titleFontSize]="'3em'"
    [showSubtitle]="false"
    [outerStrokeWidth]="16" 
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#78C000'" 
    [innerStrokeColor]="'#C7E596'" 
    [animation]="true" 
    [animationDuration]="600"
 ></circle-progress> 
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
       <circle-progress 
    [percent]="85" 
    [radius]="100"
    [imageSrc]="'../../../assets/css.png'"
    [showImage]="true"
    [showUnits]="false" 
    [imageHeight]="80"
    [imageWidth]="80"
    [title]="'HTML'"
    [titleColor]="'pink'"
    [titleFontSize]="'3em'"
    [showSubtitle]="false"
    [outerStrokeWidth]="16" 
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#78C000'" 
    [innerStrokeColor]="'#C7E596'" 
    [animation]="true" 
    [animationDuration]="600"
 ></circle-progress> 
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
       <circle-progress 
    [percent]="85" 
    [radius]="100"
    [imageSrc]="'../../../assets/js.png'"
    [showImage]="true"
    [showUnits]="false" 
    [imageHeight]="80"
    [imageWidth]="80"
    [title]="'HTML'"
    [titleColor]="'pink'"
    [titleFontSize]="'3em'"
    [showSubtitle]="false"
    [outerStrokeWidth]="16" 
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#78C000'" 
    [innerStrokeColor]="'#C7E596'" 
    [animation]="true" 
    [animationDuration]="600"
 ></circle-progress> 
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
       <circle-progress 
    [percent]="85" 
    [radius]="100"
    [imageSrc]="'../../../assets/github2.png'"
    [showImage]="true"
    [showUnits]="false" 
    [imageHeight]="150"
    [imageWidth]="150"
    [title]="'HTML'"
    [titleColor]="'pink'"
    [titleFontSize]="'3em'"
    [showSubtitle]="false"
    [outerStrokeWidth]="16" 
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#78C000'" 
    [innerStrokeColor]="'#C7E596'" 
    [animation]="true" 
    [animationDuration]="600"
 ></circle-progress> 
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
       <circle-progress 
    [percent]="85" 
    [radius]="100"
    [imageSrc]="'../../../assets/ingles.png'"
    [showImage]="true"
    [showUnits]="false" 
    [imageHeight]="80"
    [imageWidth]="80"
    [title]="'HTML'"
    [titleColor]="'pink'"
    [titleFontSize]="'3em'"
    [showSubtitle]="false"
    [outerStrokeWidth]="16" 
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#78C000'" 
    [innerStrokeColor]="'#C7E596'" 
    [animation]="true" 
    [animationDuration]="600"
 ></circle-progress> 
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
       <circle-progress 
    [percent]="85" 
    [radius]="100"
    [imageSrc]="'../../../assets/equipo.png'"
    [showImage]="true"
    [showUnits]="false" 
    [imageHeight]="80"
    [imageWidth]="80"
    [title]="'HTML'"
    [titleColor]="'pink'"
    [titleFontSize]="'3em'"
    [showSubtitle]="false"
    [outerStrokeWidth]="16" 
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#78C000'" 
    [innerStrokeColor]="'#C7E596'" 
    [animation]="true" 
    [animationDuration]="600"
 ></circle-progress> 
    </div>
</div>

